<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">

                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="http://phpoll.com/login/process" method="post" role="form" style="display: block;">
                                    <label><small>Usuario</small> </label>
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Usuario" value="">
                                    </div>
                                    <label><small>Contraseña</small> </label>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Recordarme</label>
                                    </div>
                                    <div class="form-group align-content-center col-lg-12">
                                        <div class="row">
                                            <div class=" col-3 align-content-center border-black mx-auto">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary btn-lg btn-login mx-auto" value="Iniciar sesión">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="/usuario" tabindex="5" class="forgot-password">¿Has olvidado tu contraseña?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>