<app-navbatr></app-navbatr>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Sistema de gestión de empresas</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit commodi molestiae quam debitis perspiciatis quisquam consequuntur corrupti, aspernatur eligendi quod exercitationem amet. Atque, quod quo. Ipsa sequi quod quidem pariatur?</p>
        <hr class="my-4">
        <p>Ingresa y revisa nuestro catálogo</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg col-3" href="/registro" role="button">Registrate</a>
            <a class="btn btn-primary btn-lg col-3 ml-3" (click)="logeo()" role="button">Ingresa</a>
        </p>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>