<app-navbatr></app-navbatr>
<h1>Catálogo</h1>
<small>Buesca entre nuestros productos </small>
<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" src="assets/img/ER_Hackathon.png" sizes="10%">
    <div class="card-body">
        <h4 class="card-title">nombre</h4>
        <p class="card-text"> descripcion </p>
        <p class="card-text"><small class="text-muted">precio</small></p>

        <!-- <button (click)="verHeroe()"
        type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
      <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

    </div>
</div>