<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Sistema de gestión de empresas</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit commodi molestiae quam debitis perspiciatis quisquam consequuntur corrupti, aspernatur eligendi quod exercitationem amet. Atque, quod quo. Ipsa sequi quod quidem pariatur?</p>
        <hr class="my-4">

    </div>
</div>
<a class="btn btn-outline-primary" [routerLink]="['/tercero/registroC']">Registro de terceros</a>
<div class="container">
    <router-outlet></router-outlet>
</div>